<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UploadFileURL</key>
	<string>http://192.168.253.3:8087/ycpoperationfs/utils/iosLogfilesService/uploadIosLogfiles.do1</string>
</dict>
</plist>
